{% extends 'registration/template_login.html' %}

{% load core_extras %}

{% block content %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
            {{ form.username |addcss:"form-control"}}
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
            {{ form.password |addcss:"form-control"}}
        </div>
    </div>
    <hr/>
    <div>
        <input type="submit" value="Iniciar sessão" class="btn btn-primary btn-block"/>
        <input type="hidden" name="next" value="{{ next }}"/>

    </div>
</form>
{% endblock %}

{% block error %}
{% if form.errors %}
<div style="display: flex; align-items: center; justify-content: center; ">
    <div class="alert alert-danger" role="alert"
         style="width: 500px; margin-left: auto; margin-right: auto; display: flex; align-items: center; justify-content: center;">
        Usuário ou senha inválidos. Por favor, tente novamente.
    </div>
</div>
{% endif %}
{% endblock %}

{% block next %}
{% if next %}
<div style="display: flex; align-items: center; justify-content: center; ">
    <div class="alert alert-warning" role="alert"
         style="width: 500px; margin-left: auto; margin-right: auto; display: flex; align-items: center; justify-content: center;">
        {% if user.is_authenticated %}
        Sua conta não tem acesso não tem acesso para visualizar esta página. Para continuar,
            por favor inicie uma sessão com uma conta que possua acesso.
        {% else %}
        Por favor, inicie uma sessão para continuar.
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}