{% extends 'template.html' %}


{% block content %}
<div class="card">
    <div class="card-body">

<h4>Baixa de cheques</h4>



<form class="container">

  <div class="row">

    <div class="col-md-3 mb-3">
      <label for="select">Coluna</label>
       <select id="select" class="form-control">
        <option value="0" selected>Número</option>
        <option value="1">Data de emissão</option>
        <option value="2">Emitente</option>
        <option value="3">Agência</option>
        <option value="4">Banco</option>
    </select>
    </div>
    <div class="col-md-3 mb-3">
      <label for="input">Pesquisa</label>
       <input type="text" class="form-control" id="input" placeholder="pesquisar"
           onkeyup="pesquisar()"/>

    </div>

  </div>
</form>

<table class="table table-hover col-lg-12" id="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Data de emissão</th>
        <th scope="col">Emitente</th>
        <th scope="col">Agência</th>
        <th scope="col">Banco</th>
        <th scope="col">Sem fundo</th>
        <th scope="col">Foi compensado</th>
        <th scope="col">Valor</th>
        <th scope="col">Baixar</th>

    </tr>
    </thead>
    <tbody>
    {% for cheque in object_list %}

    <tr class="{% if not cheque.tem_fundo%}table-danger{% elif cheque.foi_compensado %}text-success{% endif %}">
        <td>{{ cheque.numero_cheque }}</td>
        <td>{{ cheque.data_cadastro | date:"d/m/Y" }}</td>
        <td>{{ cheque.cliente }}</td>
        <td>{{ cheque.banco.agencia }}</td>
        <td>{{ cheque.banco.nome }}</td>
        <td>{{ cheque.tem_fundo | yesno:"sim,não"}}</td>
        <td>{{ cheque.foi_compensado | yesno:"sim,não" }}</td>
        <td>{{ cheque.valor }}</td>
        <td><a href="javascript:void(0)" onclick="efetuar_baixa({{ cheque.id }})"><i class="fa fa-check"></i></a></td>
    </tr>

    {% endfor %}
    </tbody>
</table>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
function pesquisar() {
   var index = $("#select").val();
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("input");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[index];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


</script>
<script>
function efetuar_baixa(id) {
    swal({
        title: 'Atenção',
        text: "O cheque tem fundo?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
            $.ajax({
                url: '{% url "efetuar_baixa" %}',
                data: {
                    'id': id,
                    'tem_fundo': result.value
                },
                dataType: 'json',
                success: function(data) {
                    console.log(data)

                }
            });
            if (result.value) {


               swal({
                    title: 'Realizando baixa',
                    text: 'O cheque foi marcado com fundo',
                    type: 'success',
                    timer: 2000,
                    onOpen: () => {
                        swal.showLoading()
                    }
                }).then((result) => {
                    if (result.dismiss === 'timer') {
                        location.reload();
                    } else {
                        location.reload();
                    }
                });
            } else {
                swal({
                    title: 'Realizando baixa',
                    text: 'O cheque foi marcado sem fundo',
                    type: 'error',
                    timer: 2000,
                    onOpen: () => {
                        swal.showLoading()
                    }
                }).then((result) => {
                    if (result.dismiss === 'timer') {
                        location.reload();
                    } else {
                        location.reload();
                    }
                });
            }
        });

    }



</script>
{% endblock %}