{% extends 'template.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <h4>Confirmar exclusão</h4>
            <p>Você confirma a exclusão de {{ bread_item | lower }} <strong> {{ object }}</strong>?</p>
            <p>
                <small>Esta operação não pode ser desfeita!</small>
            </p>
            <hr/>
            <input class="btn btn-danger" type="submit" value="Excluir"/>
        </form>
    </div>
</div>
{% endblock %}